@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dominantColor);
  font-family: 'Lobster', cursive;
}

:root {
  --dominantColor: hsl(19, 29%, 28%);
  --secondaryColor: hsl(37, 100%, 89%);
  --accentColor: hsl(356, 55%, 52%);
}